header {
    display: flex;
    align-items: center;
    
    border: none;
    font-size: 1em;
    font-family: "Microsoft JhengHei";
    width: 100%;
    color: rgb(255, 253, 253);
    flex-wrap: wrap;
}

header>* {
    display: flex;
    width: 45%;
}

header .company {
    width: 55%;
    align-items: center;
}

.board-name,
.language {
    color: rgb(1, 1, 80);
    font-size: 24px;
}

.board-name {
    margin-left: auto;
}

.language select {
    border: snow solid 2px;
    background: -webkit-linear-gradient(-45deg, rgba(184, 225, 252, 1) 0%, rgba(169, 210, 243, 1) 4%, rgba(144, 186, 228, 1) 14%, rgba(144, 188, 234, 1) 15%, rgba(107, 168, 229, 1) 93%, rgba(107, 168, 229, 1) 35%, rgba(107, 168, 229, 1) 38%, rgba(144, 191, 240, 1) 57%, rgba(162, 218, 245, 1) 83%, rgba(189, 243, 253, 1) 100%);
    flex-grow: 0;
    padding: 0;
    margin: 0 5px;
    height: 40px;
    font-size: 20px;
}

#layout1 {
    width: 100%;
    background-color: #404E5C;
}

.language>* {
    display: flex;
    align-items: center;
}

.sign-out button {
    border: none;
    background: #404E5C;
    color: #fff;
    padding: 5px;
    font-size: 20px;
}

.layout-btns {
    padding: 7px 10px;
}

.LOGO {
    width: auto;
    height: 40px;
    margin: 10px 0;
}

@media screen and (min-width: 1025px) {
    .language {
        justify-content: flex-end;
        padding-right: 5px;
    }
    header .company {
        height: 50px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 1024px) {
    header {
        flex-direction: column;
    }
    .board-name,
    .language {
        font-size: 42px;
    }
    .navbar {
        height: 70px;
    }
    header>*,
    header .company {
        width: 100%;
    }
    .board-name {
        display: inline-block;
        line-height: 70px;
        width: 100%;
        text-align: right;
    }
    .language {
        display: flex;
        justify-content: flex-end;
    }
    .language>* {
        line-height: 65px;
    }
    .language .username {
        margin: 0 auto 0 0;
    }
    .language select {
        height: 60px;
        font-size: 28px;
    }
    .sign-out button {
        height: 60px;
        line-height: 40px;
    }
}

@media screen and (max-width: 767px) {
    .LOGO {
        height: 28px;
    }
}