
* {
  box-sizing: border-box;
}



#tableContainer {
  /* overflow-y: hidden; */
  width: 100%;
}
#theTable_wrapper {
  margin-bottom: 3rem;
  margin-top: .5rem;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#theTable_wrapper tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

#theTable_wrapper tr:nth-child(odd) {
  background-color: #2c3844;
}

#theTable_wrapper tr:nth-child(even) {
  background-color: #242e38;
}

#theTable_wrapper th,
#theTable_wrapper td {
  border-bottom : 3px solid #3e4854;
  border-left : 3px solid #4d5864;
  padding: .25rem;
  color: #ffffff;
  font-size: 0.9rem;
}

#theTable_wrapper th {
  /* background:#0073ff6b; */
  background: linear-gradient(145deg, 
  #2281f5c0, 
  #026ef1b6); /* èƒŒæ™¯é¢œè‰²æ·»åŠ é€æ˜Žåº¦ */
  border-top : 3px solid #3e4854;
  /* font-weight: bold; */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

#theTable_wrapper td:last-child,
#theTable_wrapper th:last-child {
  border-right : 3px solid #4d5864;
  text-align: center;
}

#theTable_wrapper button {
  border: 0;
  padding: 6px 12px;
  width: auto;
  max-width: none;
  /* background-color: #307ac4; */
  background-color: #49907d;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dataTables_scrollBody {
  max-height: 60vh !important;  /* 建議用 max-height 避免資料太少造成不自然空白 */
  overflow-y: auto !important;
}

#theTable_wrapper button:hover {
  background-color: #25a4a8e4;
}
@media all and (min-width: 768px) {
  #theTable_wrapper thead {
    display: table;
  }
  #theTable_wrapper tbody {
    display: block;
    width: 100%;
  }

}
@media all and (max-width: 767px) {
  #tableContainer {
  
  }
  #theTable_wrapper thead {
    display: table;
    table-layout: fixed;
  }
  #theTable_wrapper tbody {
    display: block;
    /* max-height: 100vh!important; */
    /* overflow-y: auto; */
    width: 100%;
  }
  .box span {
    font-size: 1.2em;
  }

}





/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.dataTables_scrollBody::-webkit-scrollbar {
  display: none;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border: none
}

