.allWrapper {
  z-index: 10;
}
li {
  overflow-x: hidden;
}

.bg-container {
  background-color: #00000043;
  border: 1px solid #90e3ff6b;
  /* height: 100vh; */
  width: 98%;
  margin: auto;
}

.chartWrapper {
  height: 100%;
  padding: 0 10px 10px 10px;
}

/* 各圖形高度 */
#lineWrapper,
#multiLineWrapper {
  height: 240px;
}
#barWrapper,
#barLineWrapper,
#polarAreaWrapper {
  height: 400px;
}

.mid-wrapper {
  border-top: 1px dashed rgba(255, 255, 255, 0.594);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.594);
  padding: 10px 0;
  margin-left: 0;
  margin-right: 0;
}