#EQPNO,#DEPT_NO{
  color: #fff;
  font-size: 3vh;
  padding: 15px 10px 0 0;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  min-height: 100vh;
  min-width: 320px;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體';
}
/* 標誌商標時間 */
header {
  background: #43454e;
  border-top: 1px solid #666;
  border-bottom: 5px solid #ffce00;
}
.navbar {
  padding: 0;
}
h2.title {
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 0;
  padding: 15px 0 0;
  text-align: center;
}
time {
  color: #fff;
  display: block;
  margin-right: 40px;
  padding: 15px 10px 0 0;
  font-size: 1.2em;
  text-align: right;
}

/* 主內容區 */
#chartCWrapper {
  height: 25vh;
  max-height: 25vh;
  padding-top: 0px;
}
#chartFWrapper {
  height: 17vh;
}
.chartWrapper {
  color: #898772;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
  background-color: rgba(255,255,255,.5);
  border-top: 1px solid #fff;
  border-bottom: 5px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.27);
  height: 20vh;
  position: relative;
}
.singleChart .chartWrapper {
  height: 80vh;
}
.section  {
  position: relative;
}
.section .val {
  position: absolute;
  right: 10px;
  top: 10px;
}
h3 {
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}
#colors span {
  color: #fff;
  display: inline-block;
  font-size: .8em;
  margin: 0 5px;
  padding: 2px 10px;
}
#colors {
  margin-top: 5px;
  margin-bottom: -10px;
  text-align: center;
}

#contentB,
#contentD,
#contentE {
    font-size: 3.5em;
    text-align: center;
    line-height: 1.5em;
}


#contentA {
  font-size: 2.5em;
  text-align: center;
  line-height: 2.5em;
}


@media all and (max-width: 991px) {
  .brand,
  #timenow time {
    text-align: center;
  }
}


