<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chart DEMO</title>
  <link href="../../css/weyu/input.css" rel="stylesheet">
  <link href="../../css/weyu/weyu_right_navbar.css" rel="stylesheet">
  <link href="../../css/comm/bootstrap.min.css" rel="stylesheet">
  <link href="chart-demo.css" rel="stylesheet">
  <link href="../../css/weyu/template-menu.css" rel="stylesheet">

</head>
<body onload="onLoad()">
  <div class="allWrapper relative min-h-full">
    <header class="flex items-center w-full mt-2 overflow-hidden pb-2">
      <div class="box-header">
        <button id="menu" class="btn transparent-btn pl-4" aria-expanded="false">
          <img id="menu-image" src="../../img/comm/icons/hamburger.svg" alt="Menu" />
        </button>
        <div id="dropdownMenu" class="menu-content">
          <div class="d-flex h-100">
            <button id="closeButton">
              <img id="close-image" src="../../img/comm/icons/close.svg" alt="Menu" />
            </button>
            <div class="menu-tot">
              <div class="menu-1">
                <li><a class="dropdown-item" href="../list/list.html">返還樣式列表</a></li>
              </div>
              <div class="menu-2">
                <ul id="Menu" class="dropdown-item"></ul>
              </div>
            </div>
          </div>
        </div>
        <a id="logotext" href="../../index.html" class="fs-4 fw-bold ps-3"></a>

      </div>
      <div class="box-header">
        <div class="fw-bold fs-5 Lang">
          <span class="Lang">Operations Dashboard</span>
        </div>
      </div>
      <div class="box-header">
        <div class="time" id="current-time"></div>  
        <div id="settings">
          <img id="settings-image" src="../../img/comm/user-gear-solid.svg" class="settings" alt="Settings" />
        </div>
        <div id="dropdown-menu" class="dropdown-content hidden">
          <div id="langueStatus">Language Status</div>
          <div id="accountStatus">Account Status</div>
          <div id="logout">Logout</div>
        </div>
      </div>

    </header>
    <!-- 主設計 START -->
    <section class="container-fluid px-4 mb-5">
      <div class="row">
        <!-- A 扇形圖  -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartAWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- B 折線圖1 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartBWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- C 折線圖2 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartCWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- D 堆疊圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartDWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- E 圓餅圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartEWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- F 折線混柱狀圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartFWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- G 散佈圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartGWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- H 空心圓餅圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartHWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- I 極座標圓餅圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartIWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- J 雷達圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartJWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- K 正負柱狀圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartKWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- L 多筆線型 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartLWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- M 橫柱狀圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartMWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- N 柱狀圖 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartNWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- O 線混多筆柱狀 -->
        <div class="col-lg-12 col-xl-4">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartOWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- P. 時間線圖(甘特圖) -->
        <div class="col-lg-12 col-xl-6">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartPWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- Q. 柏拉圖(pareto) -->
        <div class="col-lg-12 col-xl-6">
          <div class="chart-box">
            <div class="position-relative">
              <img src="../../img/comm/expand-svgrepo-com.svg" class="extend-button position-absolute right-0 m-1" alt="extend">
            </div>
            <div id="chartQWrapper" class="chartWrapper"></div>
          </div>
        </div>
        <!-- 表1. 輪播表格 -->
        <div class="col-lg-12 col-xl-6">
          <div class="chart-box">

            <div id="carouselExampleIndicators" class="carousel slide d-flex flex-column h-100">
              <!-- Toggle Switch 按鈕 -->
              <div class="form-check form-switch position-absolute right-0 mt-1">
                <label class="form-check-label me-2 text-light fw-bold font-monospace" for="toggleTouch">AutoPlay</label>
                <input class="form-check-input" type="checkbox" id="toggleTouch">
              </div>
              <!-- 導航欄 -->
              <div class="slider-nav">
                <div data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active">產線一</div>
                <div data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1">產線二</div>
                <div data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2">產線三</div>
              </div>
              <!-- 表格 -->
              <div class="carousel-inner overflow-y-auto">
                <!-- 插入表格內容 -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- 圖表展開視窗 -->
    <div class="modal fade" id="extendModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-body" id="extendContainer">
            <div class="position-relative">
              <img src="../../img/comm/cross-svgrepo-com.svg" class="extend-modal-close position-absolute right-0 m-1" alt="modal-close" data-bs-dismiss="modal">
            </div>
            <!-- <canvas id="extendCanvas"></canvas> -->
          </div>
        </div>
      </div>
    </div>

    <!-- 主設計 END -->
    <div id="footer" class="position-fixed bottom-0 right-0 left-0 w-100"></div>

  </div>
  <div class="mainBG fixed left-0 top-0 right-0 bottom-0"></div>
  <script src="../../js/weyu/menu.js"></script>
  <script src="../../js/comm/bootstrap.min.js"></script>
  <script src="../../js/comm/jquery.min.js"></script>
  <script src="../../js/weyu/weyu_config.js"></script>
  <script src="../../js/weyu/weyu_comm_api_function.js"></script>
  <script src="../../js/weyu/weyu_comm_function.js"></script>
  <script src="../../js/weyu/weyu_check.js"></script>
  <script src="../../js/weyu/weyu_header.js"></script>
  <script src="../../js/weyu/weyu_footer.js"></script>
  <script src="../../js/weyu/weyu_right_navbar.js"></script>

  <script src="../../js/comm/popper.min.js"></script>
  <script src="../../js/comm/cdn.jsdelivr.net_npm_chart.js"></script>
  <script src="../../js/comm/chartjs-plugin-datalabels.js"></script>
  <script src="../../js/comm/chartjs-adapter-date-fns.bundle.min.js"></script>


  <script src="chart-demo.js"></script>
  <!-- 多語系翻譯 -->
  <script type="text/javascript">
    function onLoad() {
        GetConfig();
        SetDefaultSelectLang();
        ChangeLang();//多國語言翻譯
        console.log('onLoad 成功')
    };
    // 左上LOGO文字
    $('#logotext').html(PROJECT_SAVE_NAME);
  </script>

</body>
</html>