<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="../../css/weyu/input.css" rel="stylesheet">
  <link href="../../css/weyu/weyu_right_navbar.css" rel="stylesheet">
  <link href="../../css/comm/bootstrap.min.css" rel="stylesheet">
  <link href="dashboard17.css" rel="stylesheet">
  <link href="template-menu.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap" rel="stylesheet">
</head>

<body onload="onLoad()">
  <div class="allWrapper relative min-h-full">
    <header class="flex items-center w-full mt-2 overflow-hidden pb-2">
      <div class="box-header">
        <button id="menu" class="btn transparent-btn pl-4" aria-expanded="false">
          <img id="menu-image" src="../../img/comm/icons/hamburger.svg" alt="Menu" />
        </button>
        <div id="dropdownMenu" class="menu-content">
          <div class="d-flex h-100">
            <button id="closeButton">
              <img id="close-image" src="../../img/comm/icons/close.svg" alt="Menu" />
            </button>
            <div class="menu-tot">
              <div class="menu-1">
                <li>
                  <a class="dropdown-item-title" href="../list/list.html">返回樣式列表</a>
                </li>
              </div>
              <div class="menu-2">
                <ul id="Menu" class="dropdown-item"></ul>
              </div>
            </div>
          </div>
        </div>
        <a id="logotext" href="../../index.html" class="fs-4 fw-bold"></a>
      </div>
      <div class="box-header">
        <div class="fw-bold fs-5 Lang">
          <span class="Lang font">Operations Dashboard</span>
        </div>
      </div>
      <div class="box-header">
        <div class="time" id="current-time"></div>
        <div id="settings">
          <img id="settings-image" src="../../img/comm/user-gear-solid.svg" class="settings" alt="Settings" />
        </div>
        <div id="dropdown-menu" class="dropdown-content hidden">
          <div id="langueStatus">Language Status</div>
          <div id="accountStatus">Account Status</div>
          <div id="logout">Logout</div>
        </div>
      </div>
    </header>
    <div class="container-fluid mb-lg-5 h-100">
      <!-- 上 -->
      <div class="row">
        <!-- 左 -->
        <div class="col-xl-4">
          <div class="box-2" style="color: #FFFFFF;">
            <div class="title josefin-sans-font">Injection Equipment Status</div>
            <div class="Box-2-bottom">
              <div style="width: 30%; height: 100%;">
                <div class="Box-4">
                  <div class="Box-5">
                    <div class="RUN pb-2">RUN</div>
                    <div class="datesize" id="CNCrun"></div>
                  </div>
                  <div class="Box-5">
                    <div class="NOTRUN pb-2">STOP</div>
                    <div class="datesize" id="CNCstop"></div>
                  </div>
                  <div class="Box-5">
                    <div class="NOTRUN pb-2">OFF</div>
                    <div class="datesize" id="CNCoff"></div>
                  </div>
                  <div class="Box-5">
                    <div class="NOTRUN pb-2">ERROR</div>
                    <div class="datesize" id="CNCerror"></div>
                  </div>
                  <div class="Box-5">
                    <div class="Output pb-2">OUPTPUT</div>
                    <div class="datesize" id="CNCOutputTotal"></div>
                  </div>
                </div>
              </div>
              <div class="Box-Bar">
                <div class="lebel">
                  <div class="lebel-Rur"></div>
                  <div class="text-Rur">Output(RUN)</div>
                  <div class="lebel-nRur"></div>
                  <div class="text-Rur">Output(STOP)</div>
                </div>
                <div class="lebel">
                  <div class="lebel-OFF"></div>
                  <div class="text-OFF">Output(OFF)</div>
                  <div class="lebel-Error"></div>
                  <div class="text-Error">Output(ERROR)</div>
                </div>
                <div id="CNCChart" style="width: 100%;height: 90%;"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- 中 -->
        <div class="col-xl-4">
          <div class="box-2" style="color: #FFFFFF;">
            <!-- 標題 -->
            <div class="title">Injection & DC Equipment Status</div>
            <!-- 狀態 -->
            <div class="MID-STATUS">
              <div class="box-2-MID">
                <div class="RUN pb-2">RUN</div>
                <div class="datesize" id="totalRunCount"></div>
              </div>
              <div class="box-2-MID">              
                <div id="guageB" style="width: 100%; height: 100%;"></div>
              </div>
              <div class="box-2-MID">
                <div class="KWH_TOT pb-2">KWH_TOT</div>
                <div class="datesize" id="KWH_TOT"></div>
              </div>
            </div>
            <!-- 圓餅圖 -->
            <div class="Box-Pie" >
              
              <div id="PieChart"></div>
              
            </div>
          </div>
        </div>
        <!-- 右 -->
        <div class="col-xl-4">
          <div class="box-2" style="color: #FFFFFF;">
            <div class="title">DC Equipment Status</div>
            <div class="Box-2-bottom">
              <div style="width: 30%; height: 100%;">
                <div class="Box-4">
                  <div class="Box-5">
                    <div class="RUN pb-2">RUN</div>
                    <div class="datesize" id="DCrun"></div>
                  </div>
                  <div class="Box-5">
                    <div class="NOTRUN pb-2">STOP</div>
                    <div class="datesize" id="DCstop"></div>
                  </div>
                  <div class="Box-5">
                    <div class="NOTRUN pb-2">OFF</div>
                    <div class="datesize" id="DCoff"></div>
                  </div>
                  <div class="Box-5">
                    <div class="NOTRUN pb-2">ERROR</div>
                    <div class="datesize" id="DCerror"></div>
                  </div>
                  <div class="Box-5">
                    <div class="Output pb-2">OUPTPUT</div>
                    <div class="datesize" id="DCOutputTotal"></div>
                  </div>
                </div>
              </div>
              <div class="Box-Bar">
                <div class="lebel">
                  <div class="lebel-Rur"></div>
                  <div class="text-Rur">Output(RUN)</div>
                  <div class="lebel-nRur"></div>
                  <div class="text-Rur">Output(STOP)</div>
                </div>
                <div class="lebel">
                  <div class="lebel-OFF"></div>
                  <div class="text-OFF">Output(OFF)</div>
                  <div class="lebel-Error"></div>
                  <div class="text-Error">Output(ERROR)</div>
                </div>
                <div id="DCChart" style="width: 100%;height: 90%; "></div>
              </div>
            </div>
          </div>
        </div>
        <!-- 下 -->
        <div class="col-xl-6">
          <div class="box-3 h-100">
            <div id="CNC" style="width: 100%; height:60vh;"></div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="box-3 h-100">
            <div id="DC" style="width: 100%; height:60vh;"></div>
          </div>
        </div>
      </div>
    </div>


    <!-- 主設計 END -->
    <div id="footer" class="position-fixed bottom-0 right-0 left-0 w-100"></div>

  </div>
  <div class="mainBG fixed left-0 top-0 right-0 bottom-0"></div>

  <!-- <script src="../js/comm/cdn.jsdelivr.net_npm_chart.js"></script> -->
  <script src="../../js/weyu/menu.js"></script>
  <script src="../../js/comm/bootstrap.min.js"></script>
  <script src="../../js/comm/jquery.min.js"></script>
  <script src="../../js/weyu/weyu_config.js"></script>
  <!-- <script src="../../js/weyu/weyu_comm_api_function.js"></script> -->
  <script src="../../js/weyu/weyu_comm_function.js"></script>
  <!-- <script src="../../js/weyu/weyu_check.js"></script> -->
  <script src="../../js/comm/echart.min.js"></script>
  <script src="dashboard17.js"></script>
  <script src="../../js/weyu/weyu_header.js"></script>
  <!-- <script src="../../js/weyu/weyu_menu.js"></script> -->
  <script src="../../js/weyu/weyu_footer.js"></script>
  <script src="../../js/weyu/weyu_right_navbar.js"></script>
  <script src="../../js/comm/cdn.jsdelivr.net_npm_chart.js"></script>


  <!-- 多語系翻譯 -->
  <script type="text/javascript">
    function onLoad() {
      GetConfig();
      SetDefaultSelectLang();
      ChangeLang();//多國語言翻譯
      console.log('onLoad 成功')
    };
    // 左上LOGO文字
    $('#logotext').html(PROJECT_SAVE_NAME);


    function updateTime() {
    const now = new Date();
    const hours = String(now.getHours()).padStart(2, '0');
    const minutes = String(now.getMinutes()).padStart(2, '0');
    document.getElementById('current-time').textContent = `${hours}:${minutes}`;
}
updateTime();
  </script>

</body>

</html>